### Find languages.yml
### https://github.com/github/linguist/blob/32ec19c/lib/linguist/languages.yml
git/config linguist-language=gitconfig
git/github.config linguist-language=gitconfig
git/ignore linguist-language=gitignore

git/github.config filter=ignore-signing-key
